.navA {
  position: relative;
  top: 20px;
  border-right: 2px solid var(--color-white);
  a:hover {
    color: var(--color-lightY) !important;
  }
}

.logo1 {
  position: relative;
  top: 8px;
}

.solgon {
  // border: 1px solid var(--color-white);
  width: 210px;
  height: 36px;
  position: relative;
  top: 13px;
}

// 登入紐
.login {
  font-size: 20px;
  font-weight: 500;
  // border: 1px solid var(--color-white) !important;
  margin-top: 13px;
}

.login:hover {
  color: var(--color-lightY) !important;
  // border: 1px solid var(--color-lightY) !important;
}

.overflowY {
  overflow-y: none !important;
}

.btn1 {
  font-size: 20px;
  font-weight: 500;
  background-color: var(--color-blue) !important;
  border: 1px solid var(--color-blue) !important;
}

.btn1:hover {
  color: var(--color-lightY) !important;
  background-color: var(--color-deepblue) !important;
  border: 1px solid var(--color-deepblue) !important;
}

.btn2 {
  font-size: 17px !important;
  font-weight: 700;
  color: var(--color-blue) !important;
  border-left: 1px solid var(--color-blue);
  border-right: 1px solid var(--color-blue);
}

.btn2:hover {
  color: var(--color-red) !important;
}

.savebtn {
  pointer-events: none;
}

.savebtn:hover {
  text-decoration: underline;
}

.avatars {
  height: 30px;
  position: relative;
  top: 11px;
  cursor: pointer;
}

.avatars:hover .down {
  color: var(--color-lightY) !important;
}

.userList {
  position: absolute;
  padding: 15px;
  top: 35px;
  right: -50px;
  background-color: var(--color-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  filter: drop-shadow(0px 5px 3px rgb(0, 0, 0));
  .memBtn:hover .memIcon {
    color: var(--color-lightY) !important;
  }
  .memBtn:hover a {
    color: var(--color-lightY) !important;
  }
  .mg {
    margin-left: 10px;
    margin-right: 10px;
  }
}

#user:hover .userList {
  display: block;
  animation: divAnimation 0.3s linear forwards;
}

#user {
  padding-bottom: 50px;
}

.ownerList {
  position: absolute;
  padding: 15px;
  top: 35px;
  right: -50px;
  background-color: var(--color-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  filter: drop-shadow(0px 5px 3px rgb(0, 0, 0));
  .memBtn:hover .memIcon {
    color: var(--color-lightY) !important;
  }
  .memBtn:hover a {
    color: var(--color-lightY) !important;
  }
  .mg {
    margin-left: 10px;
    margin-right: 10px;
  }
}

#owner:hover .ownerList {
  display: block;
  animation: divAnimation 0.3s linear forwards;
}

#owner {
  padding-bottom: 50px;
}

@keyframes divAnimation {
  100% {
    transform: translateY(10px);
  }
}
