#userPage {
  body {
    background-color: var(--color-blue);
  }
  background-color: var(--color-blue) !important;
  .Usersolgon {
    // border: 1px solid var(--color-white);
    width: 135px;
    height: 36px;
    position: relative;
    top: 13px;
  }
  .sidebar {
    width: 400px;
    height: 100vh;
    filter: drop-shadow(0px 5px 3px rgb(0, 0, 0));
    background: var(--color-blue);
    position: fixed;
  }
  .content {
    width: 77%;
    height: 100vh;
    background: var(--color-deepblue);
    margin-left: 400px;
  }
  .avatarSidebar {
    position: relative;
    top: 100px;
    left: 100px;
  }
}
