:root {
  --color-blue: #282f42;
  --color-deepblue: #1f2431;
  --color-lightblue: #374058;
  --color-white: #cdc6bc;
  --color-deepwhite: #b1aea9;
  --color-lightY: #ffbd5e;
  --color-deepY: #f08d00;
  --color-red: #ff4757;
}

* {
  transition: 0.5s;
}

body {
  .ctext1 {
    font-size: 16px;
    font-weight: 500;
  }
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.v-application ul {
  padding-left: 0;
}

.textWhite {
  color: var(--color-white) !important;
}

.textBlue {
  color: var(--color-blue) !important;
}

::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: var(--color-blue);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-deepblue);
  border-radius: 30px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-lightblue);
}
